.table {
  box-sizing: border-box;
  padding: 0 var(--spacing-xl);
  width: 100%;
}

.table-virtual-body {
  width: 100%;
  max-width: 100%;
  position: relative;

  & > .header-row {
    position: sticky;
    inset: 0;
    z-index: 1;
  }

  .virtual-row.expanded {
    & > .table-row-container:last-child {
      border-bottom: var(--border-1) solid var(--border-emphasis);
    }
  }

  .load-more-row {
    content: '';
    position: absolute;
    bottom: 35px;
    left: 0;
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    border-left: var(--border-1) solid var(--border-disabled);
    border-right: var(--border-1) solid var(--border-disabled);
    border-bottom: var(--border-1) solid var(--border-disabled);
    border-bottom-left-radius: var(--radius-lg);
    border-bottom-right-radius: var(--radius-lg);
    overflow: hidden;

    .react-loading-skeleton {
      height: 48px;
      border-radius: 0;
    }
  }
}
