.section-marker {
  user-select: none;
  display: grid;
  grid-template-columns: 32px;
  grid-template-rows: 32px;
  position: relative;
  justify-self: start;
  place-items: center center;

  & > .bg {
    width: 100%;
    height: 100%;
    content: ' ';
    display: block;
    grid-row: 1;
    grid-column: 1 / 2;
    background-color: var(--bg-action-muted);
    border-radius: var(--radius-full);
  }

  & > .icon {
    grid-row: 1;
    grid-column: 1 / 2;
  }
}
