/* stylelint-disable no-descending-specificity */
.checkbox {
  display: inline-flex;
  flex-flow: column;
  user-select: none;

  &.disabled {
    cursor: not-allowed;
  }

  & > .track {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    .help {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: baseline;
      margin-left: auto;
      padding-left: var(--spacing-md);
    }

    &:not(.disabled) {
      cursor: pointer;
    }

    &.disabled {
      pointer-events: none;
      cursor: not-allowed;

      svg path {
        fill: var(--bg-disabled);
      }

      span {
        color: var(--fg-disabled);
      }
    }

    span {
      font: var(--t-body-sm-400);
      color: var(--fg-default);
      padding-left: var(--spacing-md);
    }

    &:not(.active, .disabled, .error):hover {
      .box {
        --border: var(--border-emphasis);
      }
    }
  }
}
