.checkbox {
  display: inline-flex;
  flex-flow: column;
  row-gap: var(--spacing-md);
  user-select: none;

  & > .track {
    &:not(.text) {
      display: inline-block;
    }

    &.text {
      display: grid;
      grid-template-columns: 24px auto;
      grid-template-rows: 1fr;
      column-gap: var(--spacing-sm);
      align-items: center;
    }

    &:not(.disabled) {
      cursor: pointer;
    }

    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
    }

    span {
      font: var(--t-body-sm-400);
      color: var(--fg-default);
    }
  }
}
