/* stylelint-disable no-descending-specificity */
.checkbox {
  display: inline-flex;
  flex-flow: column;
  user-select: none;

  & > .track {
    &:not(.text) {
      display: inline-block;
    }

    &.text {
      display: grid;
      grid-template-columns: 24px auto;
      grid-template-rows: 1fr;
      column-gap: var(--spacing-sm);
      align-items: center;
    }

    &:not(.disabled) {
      cursor: pointer;
    }

    &.disabled {
      pointer-events: none;
      cursor: not-allowed;

      svg path {
        fill: var(--bg-disabled);
      }
    }

    span {
      font: var(--t-body-sm-400);
      color: var(--fg-default);
    }

    &:not(.active, .disabled, .error):hover {
      .box {
        --border: var(--border-emphasis);
      }
    }
  }
}
