.avatar {
  user-select: none;
  position: relative;
  display: inline-flex;

  &.size-small {
    .inner {
      width: 16px;
      height: 16px;
    }

    .online-indicator {
      width: 6px;
      height: 6px;
    }
  }

  &.size-default {
    .inner {
      width: 24px;
      height: 24px;
    }

    .online-indicator {
      width: 8px;
      height: 8px;
    }
  }

  &.size-big {
    .inner {
      width: 40px;
      height: 40px;
    }

    .online-indicator {
      width: 10px;
      height: 10px;
    }
  }

  .online-indicator {
    position: absolute;
    bottom: -2px;
    right: -4px;
    border-radius: var(--radius-full);
    background-color: var(--fg-success);
    border: 2px solid var(--bg-default, #fff);
    box-sizing: content-box;
  }

  .initials {
    width: inherit;
    height: inherit;
    border-radius: var(--radius-full);
    background-color: var(--bg-action);
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    flex: none;
    overflow: hidden;

    span {
      font: var(--t-body-xxs-500);
      color: var(--fg-white);
    }
  }

  svg {
    height: inherit;
    width: inherit;
  }
}

.avatar .icon-default {
  g {
    rect {
      fill: var(--bg-emphasis);
    }

    path {
      fill: var(--bg-faded);
    }
  }

  defs {
    rect {
      fill: var(--fg-default);
    }
  }
}
