@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/mixins' as mix;

.activity-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  column-gap: 5px;

  span {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-family: Roboto;
    @include mix.text-weight(medium);
  }

  &.connected {
    span {
      color: v.$success;
    }
  }

  &.disconnected {
    span {
      color: v.$gray-light;
    }
  }

  &.added {
    span {
      color: v.$primary;
    }
  }

  &.removed,
  &.alert {
    span {
      color: v.$error;
    }
  }
}
