.labeled-radio > .inner {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  user-select: none;
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 1;
  column-gap: var(--spacing-xs);
  cursor: pointer;
  opacity: 1;
  transition-property: opacity;

  @include animate-standard();

  &.disabled {
    cursor: not-allowed;
    opacity: 0.45;
  }

  .icon {
    height: 18px;
    width: 18px;

    svg {
      height: inherit;
      width: inherit;
    }
  }

  & > p {
    color: var(--text-body-secondary);
    @include typography(app-modal-1);
  }
}
