.textarea textarea {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  resize: none;
  overflow: hidden auto;
  min-height: 100px;
  max-height: 150px;
  font: var(--t-input-text-primary);
  color: var(--fg-default);

  &::placeholder {
    color: var(--fg-muted);
  }
}
