.badge {
  --bg-color: transparent;
  --color: var(--fg-neutral);
  --icon-color: var(--color);

  border-radius: var(--badge-border-radius);
  box-sizing: border-box;
  padding: 0 var(--badge-spacing);
  column-gap: var(--badge-gap);
  background-color: var(--bg-color);
  color: var(--color);
  user-select: none;
  height: var(--badge-height);
  width: fit-content;

  @include animate(background-color);

  &:not(.icon) {
    display: inline-flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }

  &.icon {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    align-items: center;
  }

  &.variant-default {
    --color: var(--fg-white);
    --icon-color: var(--fg-white);

    &:not(.bg) {
      --bg-color: var(--bg-dark);
    }
  }

  &.variant-neutral {
    --color: var(--fg-neutral);
    --icon-color: var(--fg-muted);

    &:not(.bg) {
      --bg-color: var(--bg-emphasis);
    }
  }

  &.variant-success {
    --color: var(--fg-success);

    &:not(.bg) {
      --bg-color: var(--c-green-500-transparent);
    }
  }

  &.variant-critical {
    --color: var(--fg-critical);

    &:not(.bg) {
      --bg-color: var(--bg-critical-disabled);
    }
  }

  &.variant-warning {
    --color: var(--fg-attention);

    &:not(.bg) {
      --bg-color: var(--c-orange-500-transparent);
    }
  }

  span {
    font: var(--t-badge);
    color: inherit;

    @include animate(color);
  }

  & > .icon > svg {
    rect {
      fill: var(--icon-color);

      @include animate(fill);
    }

    path {
      fill: var(--icon-color);

      @include animate(fill);
    }
  }
}
