.field-label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--spacing-sm);
  position: relative;
  padding-bottom: var(--input-spacing-xs);
  font: var(--t-input-title);
  color: var(--fg-neutral);

  .required-icon {
    position: absolute;
    left: 0;
    top: 3.5px;
  }

  &.required {
    padding-left: 8px;
  }
}
