.text-limited {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;

  .text {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.text-limited-floating {
  box-shadow: var(--box-shadow);
  width: 100%;
  max-width: 500px;
}
