.radio {
  user-select: none;
  display: flex;
  flex-flow: row nowrap;

  & > .inner {
    cursor: pointer;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: var(--spacing-sm);

    &.disabled,
    &[aria-disabled='true'] {
      cursor: not-allowed;
    }

    &.text {
      display: grid;
      grid-template-columns: 24px auto;
      grid-template-rows: 1fr;
      column-gap: var(--spacing-sm);
    }

    span {
      font: var(--t-body-sm-400);
    }
  }
}

// state colors
.radio svg {
  &.icon-default {
    circle {
      stroke: var(--border-faded);
      fill: var(--bg-default);
    }
  }

  &.icon-hover {
    circle {
      stroke: var(--border-emphasis);
      fill: var(--bg-default);
    }
  }

  &.icon-disabled {
    circle {
      fill: var(--bg-disabled);
      stroke: var(--border-disabled);
    }
  }

  &.icon-selected {
    circle {
      &:nth-child(1) {
        fill: var(--bg-action);
      }

      &:nth-child(2) {
        fill: var(--c-white);
      }
    }
  }

  &.icon-selected-disabled {
    circle {
      &:nth-child(1) {
        fill: var(--bg-faded);
      }

      &:nth-child(2) {
        fill: var(--bg-disabled);
      }
    }
  }
}
