.radio {
  user-select: none;
  display: flex;
  flex-flow: column nowrap;

  & > .inner {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;

    &:not(.text) {
      display: flex;
      flex: 0 1 auto;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      column-gap: var(--spacing-sm);
    }

    &.text {
      display: flex;
      grid-template-columns: 24px auto;
      grid-template-rows: 1fr;
      column-gap: var(--spacing-sm);

      & > span {
        font: var(--t-body-sm-400);
      }
    }

    &.disabled,
    &[aria-disabled='true'] {
      cursor: not-allowed;

      & > span {
        color: var(--fg-disabled);
      }
    }
  }
}
