/* stylelint-disable no-descending-specificity */
.table-row-container {
  --bg-color: var(--bg-default);

  display: flex;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--bg-color);

  @include animate(background-color);

  &.variant-default {
    --bg-color: var(--bg-default);

    .table-cell {
      overflow: hidden;
      border-bottom: var(--border-1) solid var(--border-disabled);
    }
  }

  &.variant-sub-header {
    --bg-color: var(--bg-action-muted);

    user-select: none;

    .table-cell {
      overflow: hidden;
      min-height: 36px;

      span {
        font: var(--t-body-xs-600);
        color: var(--fg-action-emphasis);
      }
    }
  }

  &.last {
    border-bottom-left-radius: var(--radius-md);
    border-bottom-right-radius: var(--radius-md);

    .table-cell {
      overflow: hidden;
      border-bottom: var(--border-1) solid var(--border-disabled);

      &:first-child {
        border-bottom-left-radius: var(--radius-md);
      }

      &:last-child {
        border-bottom-right-radius: var(--radius-md);
      }
    }
  }

  &:not(.variant-sub-header):hover {
    --bg-color: var(--bg-grid-hover);
  }
}
