.floating-menu-arrow {
  &.placement--left {
    transform: translateX(-8px) rotate(-180deg);
  }

  // &.placement--right {}

  &.placement--top {
    transform: translateY(-14px) rotate(-90deg);
  }

  &.placement--bottom {
    transform: translateY(-7px) rotate(90deg);
  }
}
