.icon {
  display: inline-block;
  overflow: hidden;
  user-select: none;

  svg {
    width: inherit;
    height: inherit;
    transition-property: transform;

    @include animate;

    path {
      fill: var(--icon-color, var(--fg-muted));

      @include animate(fill);
    }

    circle {
      stroke: var(--icon-color, var(--fg-muted));

      @include animate(stroke);
    }
  }
}

.icon[style*='--icon-color'] svg path {
  fill: var(--icon-color, var(--fg-muted));
}

.icon[style*='--icon-color'] svg circle {
  stroke: var(--icon-color, var(--fg-muted));
}
