.date-input {
  & > .inner {
    .field-box {
      .range-track {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        column-gap: var(--spacing-xs);
        overflow: hidden;

        .placeholder,
        .segment,
        .separator {
          user-select: none;
        }

        .placeholder {
          color: var(--fg-muted);
        }

        .segment {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          min-width: 139px;
          padding: 0 var(--spacing-xs);
          border-radius: var(--radius-sm);
          color: var(--fg-default);
          font-variant-numeric: tabular-nums;

          @include animate(background-color, color);

          &.empty {
            color: var(--fg-muted);
          }

          &.active {
            background-color: var(--bg-action-muted);
            color: var(--fg-action);
          }
        }
      }
    }
  }
}

.date-input-floating {
  --day-size: 28px;

  z-index: 5;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  row-gap: var(--spacing-md);
  width: 576px;
  overflow-y: auto;
  padding: var(--spacing-lg);
  border: var(--border-1) solid var(--border-disabled);
  border-radius: var(--menu-border-radius-group);
  background-color: var(--bg-default);
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%);

  .calendars {
    display: flex;
    flex-flow: row nowrap;
    column-gap: var(--spacing-4xl);

    .calendar-column {
      display: flex;
      flex-flow: column;
      row-gap: var(--spacing-md);
      width: 252px;
    }
  }

  .calendar {
    display: flex;
    flex-flow: column;
    row-gap: var(--spacing-xl);

    .calendar-header {
      display: flex;
      flex-flow: row nowrap;
      column-gap: var(--spacing-md);

      .select {
        min-width: 0;

        &:first-child {
          flex: 1 1 auto;
        }

        &:last-child {
          flex: 0 0 95px;
        }
      }
    }

    .week {
      display: flex;
      flex-flow: column;
      row-gap: var(--spacing-md);

      .weekdays {
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        .weekday {
          font: var(--t-body-xxs-600);
          color: var(--fg-muted);
          text-align: center;
          text-transform: uppercase;
          user-select: none;
        }
      }

      .days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        row-gap: var(--spacing-xs);

        .day {
          --day-gutter: calc((100% - var(--day-size)) / 2);
          --band-start: 0;
          --band-end: 0;

          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: var(--day-size);

          &.variant-in-range,
          &.variant-range-start,
          &.variant-range-end {
            &::before {
              content: '';
              position: absolute;
              top: 0;
              right: var(--band-end);
              bottom: 0;
              left: var(--band-start);
              background-color: var(--bg-emphasis);
            }
          }

          &:nth-child(7n + 1) {
            --band-start: var(--day-gutter);

            &::before {
              border-top-left-radius: var(--radius-sm);
              border-bottom-left-radius: var(--radius-sm);
            }
          }

          &:nth-child(7n) {
            --band-end: var(--day-gutter);

            &::before {
              border-top-right-radius: var(--radius-sm);
              border-bottom-right-radius: var(--radius-sm);
            }
          }

          &.variant-range-start {
            --band-start: 50%;
          }

          &.variant-range-end {
            --band-end: 50%;
          }

          .day-button {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            width: var(--day-size);
            height: var(--day-size);
            margin: 0;
            padding: 0;
            border: var(--border-1) solid transparent;
            border-radius: var(--radius-sm);
            background: none;
            cursor: pointer;

            @include animate(background-color, border-color);

            span {
              font: var(--t-body-sm-400);
              color: var(--fg-default);
              user-select: none;
            }
          }

          &.outside .day-button span {
            color: var(--fg-faded);
          }

          &.today .day-button {
            border-color: var(--border-emphasis);
          }

          &.variant-default .day-button:hover,
          &.variant-in-range .day-button:hover {
            background-color: var(--bg-muted);
          }

          &.variant-selected,
          &.variant-range-start,
          &.variant-range-end {
            .day-button {
              border-color: transparent;
              background-color: var(--bg-action);

              span {
                color: var(--fg-inverted);
              }
            }
          }
        }
      }
    }
  }

  .controls {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    .controls-right {
      display: flex;
      flex-flow: row nowrap;
      column-gap: var(--spacing-md);
    }
  }
}
